* {
    box-sizing: border-box;
}

body {
    margin:0;
}

.page {
    height: 100vh;
    background-color: #fff;
}

.header {
    position: relative;
    width: 100%;
    height: 5%;
    margin: 0;
}

.header-part-l {
    float: left;
    width: 20%;
    background-color: red;
}

.header-part-r {
    float: right;
    width: 20%;
    background-color: black;
}

.header-middle {
    width:60%;
    margin:0 0 0 20%;
    clear:both;
}

.main {
    display: flex;
    height: 95%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homepage-image {
    /* position: relative; */
    top: 20%;
}

.search-bar {
    /* position: absolute; */
    width: 30%;
    height: 40px;
    top: 0;
    left: 0;
}

.bar {
    width: 100%;
    height: 100%;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 0 40px 0 40px;
    box-shadow: 7px black;
}

.bar:hover, .bar:focus {
    /* border: 3px solid grey; */
    outline:none;

}


