.main {
    background-color: green;
    width: 60%;
    height:90%;
    margin: 0 0 0 20%;
    position: relative;
}

.sidebar {
    background-color: blue;
    width:20%;
    height: 90%;
    float: left;

}

.sidebar-r {
    background-color: blue;
    width: 20%;
    height: 90%;
    float: right;
}